df-messenger {
  --df-messenger-bot-message: #4b5563;
  --df-messenger-button-titlebar-color: #1f2937;
  --df-messenger-chat-background-color: white;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #2563eb;
  --df-messenger-user-message: #2563eb;
}
